* {
  box-sizing: border-box;
}

.main-view {
  background-image: url("image.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 50px 33px;
}

.box {
  width: 100%;
  height: 100%;
  padding: 14px 18px;
  background-color: rgba(255, 255, 255, 0.8);

  h2 {
    font-size: 30px;
    font-family: "Regular";
    font-weight: 300;
    color: #707070;
    margin-bottom: 46px;
  }

  @media (min-width: 750px) {
    h2 {
      font-size: 45px;
      margin-bottom: 70px;
    }
  }
}

.item1 {
  margin-bottom: 60px;

  @media (min-width: 750px) {
    margin-bottom: 80px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 52px;
  }
}

.item2 {
  margin-bottom: 38px;

  @media (min-width: 1200px) {
    margin-bottom: 30px;
  }
}

form {
  margin: 0 20px;

  &.next {
    display: none;
  }

  h3 {
    font-size: 18px;
    color: #707070;
    margin-bottom: 10px;
  }

  //アウトラインは見やすくなるように残しました
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }

  textarea {
    width: 100%;
    min-height: 160px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }

  @media (min-width: 750px) {
    max-width: 700px;
    margin: 0 auto;

    h3 {
      font-size: 26px;
      color: #707070;
      margin-bottom: 15px;
    }

    textarea {
      min-height: 250px;
    }
  }

  @media (min-width: 1200px) {
    margin: 0;
    margin-left: 93px;

    input {
      font-size: 20px;
      padding: 12px 10px;
    }

    textarea {
      height: 150px;
      font-size: 20px;
    }
  }
}

button {
  display: block;
  width: 100px;
  background-color: #404142;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #4e8dcc;
  }

  @media (min-width: 750px) {
    width: 180px;
    height: 40px;
  }

  @media (min-width: 1200px) {
    widows: 200px;
  }
}

.confirming {
  display: none;
  margin: 0 20px;

  &.next {
    display: block;
  }

  h3 {
    font-size: 18px;
    color: #707070;
    margin-bottom: 10px;
  }

  p {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.705);

    &.big-box {
      min-height: 160px;
      line-height: normal;
      padding: 10px;
    }
  }

  .btn-box {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 750px) {
    max-width: 700px;
    margin: 0 auto;

    p {
      padding: 10px;

      &.big-box {
        min-height: 250px;
      }
    }
  }

  @media (min-width: 1200px) {
    margin: 0;
    margin-left: 93px;

    h3 {
      font-size: 26px;
      color: #707070;
      margin-bottom: 15px;
    }

    p {
      font-size: 20px;
      padding: 12px 10px;

      &.big-box {
        height: 150px;
      }
    }
  }
}

.send {
  display: none;

  &.next {
    display: block;
  }

  p {
    font-size: 22px;
    color: #707070;
    text-align: center;
  }

  @media (min-width: 1200px) {
    p {
      font-size: 34px;
    }
  }
}
